@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@media (max-height: 650px) {
    img {
        display: none;
    }
    footer {
        display: none;
    }
}

#content-space {
    font-family: "Playfair Display";
}

#title-block {
    background-color: #FFB6C1;
    color: white;
}

.card-header {
    background-color: #FFB6C1 !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
}

tr:hover {
    background-color: #ffe3e7;
}

.quote-source::before {
    content: " - ";
}

#deed-count-daily {
    background-color: #6aa670;
    color: white;
}

#deed-count-total {
    background-color: #6a81a6;
    color: white;
}

.card-footer {
    background-color: #FFB6C1 !important;
    color: white !important;
    font-weight: bold;
}