#deed-count-daily {
    background-color: #6aa670;
    color: white;
}

#deed-count-total {
    background-color: #6a81a6;
    color: white;
}

.kindness-header {
    background-color: #FFB6C1 !important;
    color: white !important;
}

.streak-footer {
    background-color: #FFB6C1 !important;
    color: white !important;
}