@font-face {
    font-family: "Playfair Display", serif;
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
}

body > * {
    --primary-pink: #FFB6C1;
    font-family: "Playfair Display";
}

#title-block {
    background-color: var(--primary-pink);
    color: white;
}